.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(211, 211, 229, 0.5);

}
.shop-cover h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.shop-cover p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.sh-button {
    display: inline-block;
    background-color: #0056b3;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sh-button:hover {
    background-color:midnightblue ;
}
.details {
    position: absolute;
    top: 40%;
    left:16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: 2;
    background-color: rgba(9, 9, 51, 0.9);
    color: white;
}

.shop-cover {
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
}

.shop-cover img {
    width: 100%;
    margin-top: 30px;
    object-fit: cover;
    height: auto;
    border:20px solid white;
}


.product-page {
    display: flex;
    align-items: center;
    padding: 2rem;
    max-width: 1200px;
    min-height: 700px;
    margin: 0 auto;
    margin-top:2rem;
    border: 1px solid midnightblue;
}

.product-page__image {
    flex: 1;
}

.product-page__image img {
    max-width: 100%;
    min-height: 420px;
    object-fit: cover;
    height: auto;
}

.product-page__details {
    flex: 1;
    padding-left: 2rem;
}

.product-page__details__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.product-page__details__prices {
    margin-bottom: 1rem;
}

.product-page__details__price__initial {
    font-size: 1.2rem;
    margin-right: 1rem;
    text-decoration: line-through;
}

.product-page__details__price__final {
    font-size: 1.5rem;
    color: midnightblue;
}

.product-page__details__description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.product-page__details__product-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.product-page__details__detail {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.product-page__details__add-to-cart-button {
    background-color: midnightblue;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-page__details__add-to-cart-button:hover {
    background-color: black;
}



.login-container {
    border: 20px solid midnightblue;
    max-width: 600px;
    margin-top:300px;
    margin-left:700px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-button {
    background-color: midnightblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: black;
}

.account-container {
    height:35rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    max-width: 1200px;
    margin: 10rem auto;
    padding: 2rem;
    font-family: Arial, sans-serif;
    border: 20px solid midnightblue;
}

.account-header {
    margin-bottom: 2rem;
    text-align: center;
}

.account-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.account-info {
    flex: 1;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-actions {
    flex: 0.5;
    text-align: center;
}

.button-acc, .a-acc {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 1.2rem 3rem;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-acc:hover, .a-acc:hover {
    background-color: midnightblue;
}

.button-acc:focus, .a-ac:focus {
    outline: none;
}

.account-content {
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.account-footer {
    text-align: center;
    margin-top: 2rem;
}

.product-page__details__add-to-cart-button.added{
    background-color: green;
    scale:1.3;

}
.main-page {
    margin-top: 5rem;
    display: flex;
    max-width: 50rem;
    padding: 2rem;

}
.register-container {
    border: 20px solid midnightblue;
    max-width: 600px;
    margin-top: 10rem;
    margin-left: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    margin-bottom: 20px;
    color: #333;
}



.register-container label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="phoneNumber"],
.register-container input[type="address"]
.register-container input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.register-container .radio-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 5px;
}

.register-container .radio-group label {
    font-size: 14px;
    color: #444;
}

.register-container button.register-button {
    background-color: midnightblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.register-container button.register-button:hover {
    background-color: black;
}

.register-container .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.delivery-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    margin: 2rem auto;
    border: 1px solid midnightblue;
}


.return-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.product-list {
    width: 80%;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.return-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.product-list {
    width: 80%;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.product-card-container {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    overflow-y: scroll;
    max-height: 40rem;
}

.product-card {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(211, 211, 229, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(3, 3, 42, 0.7);
}

.return-form {
    width: 80%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom:3rem;
}

.submit-button {
    background-color:midnightblue;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.product-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid midnightblue;
}
